[submodule "src/robot_msgs"]
	path = src/robot_msgs
	url = https://github.com/VTAstrobotics/robot_msgs.git
	branch = master
[submodule "src/vesc_bbb_uart"]
	path = src/vesc_bbb_uart
	url = https://github.com/VTAstrobotics/VESC_BBB_UART.git
	branch = master
[submodule "src/rosserial"]
	path = src/rosserial
	url = https://github.com/ros-drivers/rosserial.git
