# Service file for systemd, will launch Robot-2017 on boot after network is connected
# Adjust user and path to cloned repo as necessary
# Install this file to /lib/systemd/system or /usr/lib/systemd/system
# Check status with `systemctl status astro-robot-2017`
# Restart the code in case it crashes with `systemctl restart astro-robot-2017`

[Unit]
Description=Astrobotics 2017 (A.R.E.S) robot code
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/bash /home/astrobotics/Astro/Robot-2017/ares_launch.sh
User=astrobotics

[Install]
WantedBy=multi-user.target
