<launch>
    <node name="test_controller"
        pkg="robot2017"
        type="test_controller"
        output="screen">
    </node>

    <node name="drive_node"
        pkg="robot2017"
        type="drive_node"
        args="-pc -debug -aut"
        output="screen"
        respawn="true"
        respawn_delay="10">
    </node>
</launch>
